#!/bin/bash

#################################################################
#Android
#################################################################

alias android_clean_log="adb logcat -c"

alias android_disable_wifi="adb shell svc wifi disable"

alias android_enable_wifi="adb shell svc wifi enable"

alias android_disable_wifi="adb shell svc wifi disable"

alias android_enable_wifi="adb shell svc wifi enable"

alias android_backup="adb backup -f ~/Documents/adb_backup/GMBackup.ab -n oapk com.greenmile.android"

alias android_decompress_backup='dd if=GMBackup.ab bs=1 skip=24 | python -c "import zlib, sys;sys.stdout.write(zlib.decompress(sys.stdin.read()))" | tar -xvf -'

alias android_list_all_packages="adb -d shell 'pm list packages -f' | sed -e 's/.*=//' | sort"


#################################################################
#Greenmile
#################################################################

alias gm_pidcat="pidcat com.greenmile.android"

alias gm_push_db_for_survey_tests="adb shell rm /data/data/com.greenmile.android/databases/greenmile.db-journal && adb push /android_appium_apks/master/greenmile.db /data/data/com.greenmile.android/databases/greenmile.db;
                                   adb push /android_appium_apks/master/globalPrefs.xml /data/data/com.greenmile.android/shared_prefs/globalPrefs.xml && adb shell am start -n com.greenmile.android/com.greenmile.android.activity.list.ListStopsActivity"

alias gm_reinstall_app="adb uninstall com.greenmile.android;
                        adb install /android_appium_apks/master/greenmile-android-release.apk && adb shell am start -n com.greenmile.android/com.greenmile.android.activity.ControllerActivity"

alias gm_db_pull="adb shell \"run-as com.greenmile.android; chmod 666 /data/data/com.greenmile.android/databases/greenmile.db\";
                  adb pull /data/data/com.greenmile.android/databases/greenmile.db /Users/carloseduardo/Documents/banco_devices"

alias gm_copy_from_databases_to_android_appium_apks="cp -R /Users/carloseduardo/banco_devices/greenmile.db /android_appium_apks/master/greenmile.db"

alias gm_start_list_stops_activity="adb shell am start -n com.greenmile.android/com.greenmile.android.activity.list.ListStopsActivity"

alias gm_driver_build="./gradlew clean daoConfig build --configure-on-demand --parallel --max-workers 3 --daemon"

alias gm_build_driver_tests="mvn clean compile exec:java package -DskipTests"

alias gm_driver_tests_exec="mvn clean compile exec:java test"

alias gm_copy_debug_apk_to_appium_folder="cp $HOME/Projects/gm-driver-android/driver/greenmile-android/build/outputs/apk/greenmile-android-debug-unaligned-*.apk /android_appium_apks/master/greenmile-android-release.apk"

alias gm_install_debug_apk="adb install $HOME/Projects/gm-driver-android/driver/greenmile-android/build/outputs/apk/greenmile-android-debug-unaligned-*.apk"

alias gm_uninstall_driver="adb uninstall com.greenmile.android"

alias gm_uninstall_updater="adb uninstall com.greenmile.updater"

alias gm_get_data_device="adb pull /data/data/com.greenmile.android/databases/greenmile.db ~/.greenmile/database/"

alias gm_push_data_device="adb push greenmile.db /data/data/com.greenmile.android/databases/greenmile.db"

alias gm_start_list_stop="adb shell am start -n com.greenmile.android/com.greenmile.android.activity.list.ListStopsActivity"

alias gm_start_controller_activity="adb shell am start -n com.greenmile.android/com.greenmile.android.activity.ControllerActivity"

alias gm_copy_db_to_sdcard="adb shell am broadcast -a com.greenmile.android.COPY_DATABASE"

alias gm_fuck="gm_driver_build;
               gm_uninstall_all;
               gm_install_debug_apk;
               gm_start_controller_activity;"


#################################################################
# Renewer
#################################################################

alias rb_get_database="adb pull /data/data/com.carloseduardo.renewer.books/databases/renewer.db $HOME/databases/renewer.db"

alias rb_pidcat="pidcat com.carloseduardo.renewer.books"

alias rb_uninstall="adb uninstall com.carloseduardo.renewer.books"


#################################################################
# Virtual Box
#################################################################

alias list_vms="VBoxManage list vms"


#################################################################
# Clojure
#################################################################

alias lein="/Users/carloseduardo/MyDotFiles/scripts/lein.sh"


#################################################################
# Git
#################################################################

alias gl='git log --all --graph --pretty=format:"%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit --date=relative'

alias g_unmerge='git reset --merge ORIG_HEAD'

alias g_show_unchaged_files="git ls-files -v|grep '^h'"

#################################################################
# Maven
#################################################################

alias mvn_install="mvn clean install -DskipTests"

alias mvn_package="mvn clean compile package -DskipTests"

alias mvn_install_sync="mvn clean install -U -P -DskipTests"


#################################################################
# Source
#################################################################

alias reload="source $HOME/.zshrc"

#################################################################
# Faces https://www.npmjs.com/package/cool-ascii-faces
#################################################################

alias faces="cool-face -a"

#################################################################
# Apple
#################################################################

alias kill_system_ui="killall SystemUIServer"
alias kill_finder="killall Finder /System/Library/CoreServices/Finder.app"
alias show_files="defaults write com.apple.finder AppleShowAllFiles YES; kill_finder"
alias hide_files="defaults write com.apple.finder AppleShowAllFiles NO; kill_finder"
alias update_osx="sudo softwareupdate -i -a"
alias update_brew="brew update; brew upgrade --all; brew linkapps; brew cleanup; brew cask update"
alias update_all='update_osx; update_brew; npm update -g; sudo gem update --system; sudo gem update'
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
alias spotlight_off="sudo mdutil -a -i off"
alias spotlight_on="sudo mdutil -a -i on"

#################################################################
# Util
#################################################################

alias list_so_logs="ls -la /var/log"

alias list_temp_files="ls -la /private/tmp"

alias list_all_devices="ls -la /dev"

alias list_system_applications="ls -la /bin /usr/bin"

alias list_superuser_applications="ls -la /sbin /usr/sbin"

alias list_brew_applications="ls -la /usr/local/Cellar"

alias list_applications_installed_by_user="ls -la \
                                              /usr/local/Cellar \
                                              /usr/local/bin \
                                              /usr/local/etc \
                                              /usr/local/share \
                                              /usr/local/opt \
                                              /usr/local/lib"

alias list_all_disponible_documentation="ls -la \
                                              /usr/share/man/man1 \
                                              /usr/share/man/man2 \
                                              /usr/share/man/man3 \
                                              /usr/share/man/man4 \
                                              /usr/share/man/man5 \
                                              /usr/share/man/man6 \
                                              /usr/share/man/man7 \
                                              /usr/share/man/man8 \
                                              /usr/share/man/man9 \
                                              /usr/share/man/mann >> ~/disponible_documentation.txt; \
                                              open ~/disponible_documentation.txt; \
                                              sleep 3s; \
                                              rm ~/disponible_documentation.txt;"

#################################################################
# Docker
#################################################################

alias dps="docker ps"
alias lvmi="boot2docker ip"
alias up_linux_vm="boot2docker up; eval \"$(boot2docker shellinit)\""
alias down_linux_vm="boot2docker down"
alias show_container_statistics="docker stats `docker ps | tail -n+2 | awk '{ print $NF }'`"
