android_backup() {
  local package="$1"
  adb backup -f ~/Documents/adb_backup/GMBackup.ab -n oapk $package
}

g_files_modified_by() {
  local name="$1"
  git log --pretty="%H" --author=$name | while read commit_hash; do git show --oneline --name-only $commit_hash | tail -n+2; done | sort | uniq
}

gm_start_activitiy() {
  local activity="$1"
  adb shell am start -n com.greenmile.android/com.greenmile.android.activity.$activity &>-
}

start_genymotion_screen() {
  command=$1
  echo "Quiting older session on 'Genymotion_Screen'"
  quit_screen_session "Genymotion_Screen"
  exec_in_screen "Genymotion_Screen" $command
}

exec_in_screen() {
  screen_name=$1; screen_command=$2
  screen -dmS $screen_name zsh; screen -S $screen_name -X stuff "$screen_command\n";
}

quit_screen_session() {
  session_name=$1
  screen -S "$session_name" -X quit
}

gcf() {
      git checkout feature/$1
}

gch() {
      git checkout hotfix/$1
}

gm_uninstall_all() {
  echo 'Available Devices'
  adb devices

  echo 'Uninstalling GM Driver Integration Example'
  adb uninstall integration.greenmile.com.gm_driver_integration

  echo 'Uninstalling GM Driver JS'
  adb uninstall com.greenmile.driver

  echo 'Uninstalling GM Manager'
  adb uninstall com.greenmile.manager

  echo 'Uninstalling GM Updater'
  adb uninstall com.greenmile.updater

  echo 'Uninstalling GM Driver'
  adb uninstall com.greenmile.android

  echo 'Deleting GreenMile folder from sdcard'
  adb shell rm -rf /sdcard/Greenmile/

  echo 'Deleting GreenMile APK from data folder'
  rm -rf /data/app/com.greenmile.android-1.apk

  echo 'Deleting GreenMile from data folder'
  rm -rf /data/data/com.greenmile.android

  echo 'Searching for greenmile on device'
  adb shell lsof | grep greenmile

  echo 'Done ;)'
  echo
  echo
}

addGoAlias() {
  alias_name=$1
  echo "alias go$alias_name=\"cd `pwd`\"" >> $HOME/.goaliases
  source $HOME/.zshrc
}
